<ul class="main-menu menu-training">
	<li class="category-title">
              <span class="title">{{ title }}</span>
    </li>
	<li class="link-levelone bundle-training">
		<a href="{{ ctr_url }}" class="link">
			<i class="material-icons">visibility</i>
			<span>{{ ctr_title }}</span>
		</a>
	</li>
</ul>
